In [1]:
# import libraries

from bs4 import BeautifulSoup
import requests
import smtplib #for sending emails to yourself
import time
import datetime

In [2]:
# Connect to website:

URL = 'https://www.amazon.com/dp/B08R6HX6XD?ref_=cm_sw_r_cp_ud_dp_6GDPWWJK45CWRB2VZQKD&th=1'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36',
           'Referer': 'https://www.google.com'}
page = requests.get(URL, headers=headers)
soup = BeautifulSoup(page.content, "html.parser")
title = soup.find(id="productTitle").get_text()
numberofreviews = soup.find(id="acrCustomerReviewText").get_text()

print(title)
print(numberofreviews)

        Refrigeration Technologies Viper Pan & Drain Treatment 1 Qt, Yellow
111 ratings

In [3]:
title = title.strip()
numberofreviews = numberofreviews.strip()[:3]

print(title)
print(numberofreviews)
type(numberofreviews)

Refrigeration Technologies Viper Pan & Drain Treatment 1 Qt, Yellow
111

str

In [4]:
import datetime
today = datetime.date.today()
print(today)

2023-03-02

In [5]:
import csv

header = ['Title', 'Number of Reviews', 'Date']
data = [title, numberofreviews, today]

with open('AmazonWebScraperDataset.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [6]:
import pandas as pd
df = pd.read_csv('AmazonWebScraperDataset.csv')
df

,Title,Number of Reviews,Date
0,Refrigeration Technologies Viper Pan & Drain T...,111,2023-03-02

In [7]:
#Now we are appending data to csv

with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [8]:
def check_review():
    URL = 'https://www.amazon.com/dp/B08R6HX6XD?ref_=cm_sw_r_cp_ud_dp_6GDPWWJK45CWRB2VZQKD&th=1'
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36',
           'Referer': 'https://www.google.com'}
    page = requests.get(URL, headers=headers)
    soup = BeautifulSoup(page.content, "html.parser")
    title = soup.find(id="productTitle").get_text()
    numberofreviews = soup.find(id="acrCustomerReviewText").get_text()
    
    title = title.strip()
    numberofreviews = numberofreviews.strip()[:3]
    
    import datetime
    today = datetime.date.today()
    print(today)
    
    import csv
    header = ['Title', 'Number of Reviews', 'Date']
    data = [title, numberofreviews, today]
    
    with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:
while(True):
    check_review()
    time.sleep(3)

In [15]:
import pandas as pd
df = pd.read_csv('AmazonWebScraperDataset.csv')
df

,Title,Number of Reviews,Date
0,Refrigeration Technologies Viper Pan & Drain T...,111,2023-03-02
1,Refrigeration Technologies Viper Pan & Drain T...,111,2023-03-02
2,Refrigeration Technologies Viper Pan & Drain T...,111,2023-03-02
3,Refrigeration Technologies Viper Pan & Drain T...,111,2023-03-02
4,Refrigeration Technologies Viper Pan & Drain T...,111,2023-03-02
5,Refrigeration Technologies Viper Pan & Drain T...,111,2023-03-02
6,Refrigeration Technologies Viper Pan & Drain T...,111,2023-03-02
7,Refrigeration Technologies Viper Pan & Drain T...,111,2023-03-02